
'''
    Basic settings
'''
rabbitmq_ip = 'Lutece.ip'
rabbitmq_port = '5672'
rabbitmq_user = 'task_user'
rabbitmq_pwd = 'Lutece.task_user password'
rabbitmq_vhost = 'judger_host'

broker = 'pyamqp://{user}:{pwd}@{ip}:{port}/{vhost}'.format(
    user = rabbitmq_user,
    pwd = rabbitmq_pwd,
    ip = rabbitmq_ip,
    port = rabbitmq_port,
    vhost = rabbitmq_vhost)