amqp==2.4.2
appnope==0.1.0
backcall==0.1.0
billiard==3.5.0.5
blessings==1.7
celery==4.2.1
certifi==2019.3.9
chardet==3.0.4
decorator==4.3.2
docker==3.7.0
docker-pycreds==0.4.0
idna==2.8
ipython==7.3.0
ipython-genutils==0.2.0
jedi==0.13.3
kombu==4.4.0
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.3.1
pytz==2018.9
requests==2.21.0
simplegeneric==0.8.1
six==1.12.0
tqdm==4.31.1
traitlets==4.3.2
urllib3==1.25
vine==1.2.0
wcwidth==0.1.7
websocket-client==0.55.0
